/*
* sangam Theme
* Created by : mixdesigns
* website : www.mixdesigns.net
*/

/* Table of Content
==================================================
        - General -
        - margin spaces -
        - Header and nav -
        - intro -
        - screenshots -
        - overview -
        - features -
        - share -
        - app-brief1 - app-brief2 -
        - subscription-form -
        - contact -
        - footer -
        -    THEME SWITCHER -
        - responsive -

*/


/* - General ------------------------------------------------------- */

/* roboto */

/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url('../fonts/ty9dfvLAziwdqQ2dHoyjphTbgVql8nDJpwnrE27mub0.woff2') format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url('../fonts/frNV30OaYdlFRtH2VnZZdhTbgVql8nDJpwnrE27mub0.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url('../fonts/gwVJDERN2Amz39wrSoZ7FxTbgVql8nDJpwnrE27mub0.woff2') format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url('../fonts/aZMswpodYeVhtRvuABJWvBTbgVql8nDJpwnrE27mub0.woff2') format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url('../fonts/VvXUGKZXbHtX_S_VCTLpGhTbgVql8nDJpwnrE27mub0.woff2') format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url('../fonts/e7MeVAyvogMqFwwl61PKhBTbgVql8nDJpwnrE27mub0.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url('../fonts/2tsd397wLxj96qwHyNIkxPesZW2xOQ-xsNqO47m55DA.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url('../fonts/0eC6fl06luXEYWpBSJvXCBJtnKITppOI_IvcXXDNrsc.woff2') format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url('../fonts/Fl4y0QdOxyyTHEGMXX8kcRJtnKITppOI_IvcXXDNrsc.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url('../fonts/-L14Jk06m6pUHB-5mXQQnRJtnKITppOI_IvcXXDNrsc.woff2') format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url('../fonts/I3S1wsgSg9YCurV6PUkTORJtnKITppOI_IvcXXDNrsc.woff2') format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url('../fonts/NYDWBdD4gIq26G5XYbHsFBJtnKITppOI_IvcXXDNrsc.woff2') format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url('../fonts/Pru33qjShpZSmG3z6VYwnRJtnKITppOI_IvcXXDNrsc.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url('../fonts/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/ek4gzZ-GeXAPcSbHtCeQI_esZW2xOQ-xsNqO47m55DA.woff2') format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/mErvLBYg_cXG3rLvUsKT_fesZW2xOQ-xsNqO47m55DA.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/-2n2p-_Y08sg57CNWQfKNvesZW2xOQ-xsNqO47m55DA.woff2') format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/u0TOpm082MNkS5K0Q4rhqvesZW2xOQ-xsNqO47m55DA.woff2') format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/NdF9MtnOpLzo-noMoG0miPesZW2xOQ-xsNqO47m55DA.woff2') format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Fcx7Wwv8OzT71A3E1XOAjvesZW2xOQ-xsNqO47m55DA.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/CWB0XYA8bzo0kSThX0UTuA.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/**/

@font-face {
    font-family: 'gotham-light';
    src: url('../fonts/gotham-light-webfont.woff2') format('woff2'),
         url('../fonts/gotham-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway-light-webfont.woff2') format('woff2'),
         url('../fonts/raleway-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.counter-title-bar {
    text-align: center;
    width: 100%;
    padding-bottom: 8px;
    margin-bottom: 20px;
    margin-top: -13px;
    float: left;
    clear: both;
    background: url(../images/title-border.png) center bottom no-repeat;
    background-size: contain;
}
.counter-title{    font-size: 20px;
    font-weight: 500;
    color: #000;}

.left_skew.my_left {
    margin-right: -10%;
}
#left1{ border-right: solid 4px #009ddc;}
#left2{ border-right: solid 4px #963d97;}
#left3{     border-right: solid 4px #e14044;}
.left_skew {
    -moz-transform: skew(-12deg);
    -o-transform: skew(-12deg);
    -webkit-transform: skew(-12deg);
    -ms-transform: skew(-12deg);
    overflow: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.left_skew.my_left .iteam {
    -moz-transform: skew(12deg) scale(1.3);
    -o-transform: skew(12deg) scale(1.3);
    -webkit-transform: skew(12deg) scale(1.3);
    -ms-transform: skew(12deg) scale(1.3);
    width: 100%;
}
.left_skew.my_right .iteam {
    background: #FFF;
}


.bottom10{margin-bottom:10px;}
.small-mob{display:none;}
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 9999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}

.status {
    width: 100%;
    position: absolute;
    /*left: 45%;*/
    top: 15%;
   /* margin: -25px 0 0 -50px;*/
}

/* top line LOADER */
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.pace-inactive {
    display: none;
}
.pace .pace-progress {
    background: #F44C67;
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 100%;
    width: 100%;
    height:5px;
}

/* Global Styles */
body,html {
    height: 100%;
    width: 100%;
    max-width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.8;
    background: transparent;
    color: #29282b;
    overflow-x: hidden;
    margin: auto;
    background: #fff;
    -webkit-font-smoothing: subpixel-antialiased;
}

.clearlist, .clearlist li {
    list-style: none;
    padding: 0;
    margin: 0;
    background: none;
}

::-moz-selection{ color: #fff; background:#29282b; }
::-webkit-selection{ color: #fff;    background:#29282b; }
::selection{ color: #fff;    background:#29282b; }

a{
    color: #999;
    text-decoration: none;
}
a:hover{
    color: #29282b;
    cursor: pointer;
}
a:hover,a:focus{
    -moz-outline: none;
    outline: none;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    font-family: sans-serif;
    font-weight: 100;
    margin-bottom: 20px;
    line-height: 1.4;
    color: #29282b;
    letter-spacing: 2px;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 24px;
}
h4{
    font-size: 16px;
}
h5{
    font-size: 14px;
}
h6{
    font-size: 12px;
}
.img-responsive{
    margin: 0 auto;
    width: auto;
}
.section{
    padding:150px 0px;
    position: relative;
    z-index: 2;
    overflow: hidden;
}
.relative{
    position: relative;
}
.bold{
    font-weight: 400;
}
.hint{
    color: #999;
    font-size: 13px;
}
/* title Section */
.titleSection{
    clear: both;
    margin-bottom: 80px;
    text-align: center;
}
.titleSection h2{
    margin-top: 0px;
}
.titleSection p{
    max-width: 400px;
    margin: 0 auto;
}
/* line */
.coloredLine{
    margin:20px auto 0px;
    width: 40px;
    border-bottom: 1px solid #eee;
}
/* buttons */
.btn-new{
    max-width: 250px;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;       
    background: #F44C67;
    display: inline-block;
    padding: 15px 30px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    letter-spacing: 1px;
    cursor: pointer;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    border: none;
}
.btn-new:hover,.btn-new:focus{
    background: #FC647B;
    color: #fff;
    text-decoration: none;
    outline: none;
}
/* margin spaces */
.space10 {
    margin-bottom: 10px;
}
.space20 {
    margin-bottom: 20px;
}
.space30 {
    margin-bottom: 30px;
}
.space40 {
    margin-bottom: 40px;
}
.space50 {
    margin-bottom: 50px;
}
.space60 {
    margin-bottom: 60px;
}
.space70 {
    margin-bottom: 70px;
}
.space80 {
    margin-bottom: 80px;
}
.space90 {
    margin-bottom: 90px;
}
.space100 {
    margin-bottom: 100px;
}

/* Header and nav --------------------------------------------------- */
.logo{
    display:inline-block;
}
.logo img{
    max-width: 100%;
}
.sticky-navigation {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background:transparent;
    border: none;
    padding:10px 0 !important;
    margin-bottom: 0 !important;
    -webkit-backface-visibility: hidden;
    top:0px;
}
.NavBg{
    background:rgba(255,255,255,0.9);  
}
.nav-logo{
    padding: 0px 15px;
    height: 50px;
}
.nav-logo:focus{
    outline: none;
}
.nav-logo img{
    max-width: 50%;
	    margin-top: -10px;
}
.navbar{
    margin-bottom: 0px;
}
.navbar-nav {
    float: left;
    margin: 0px !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.navbar-nav li a {
padding: 10px;
    line-height: 30px;
    font-size: 14px;
    color: #29282b;
    font-weight: 500;
    position: relative;
    background: transparent !important;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0);
}
.navbar-nav li a:focus{
       color: #06325c;
}
.navbar-nav li.active a,.navbar-nav li a:hover {
    color:#29282b;
}
.navbar-toggle{
    padding: 5px 10px;
    margin-right: 10px;
}
/* intro ---------------------------------------------------------------- */

#intro{
     background: rgba(236, 236, 236, 0.61);
    padding: 10px 0px 10px 0px;
    background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    -webkit-background-size: 3px 3px;
    -moz-background-size: 3px 3px;
    background-size: 3px 3px;
    /* background: url('../images/footer.jpg'); */
    padding: 68px 0px 0px 0px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-repeat: repeat;
}
.intro-mobile {
    position: absolute;
    left: 0px;
    bottom:-250px; /* negtivae value of section bottom padding */
    max-width: 50%;
}
.downloads a{
    display: inline-block;
    margin-right: 10px;
}
.downloads a:last-child{
    margin-right: 0px;
}

/* screenshots ---------------------------------------------------------------- */
/*.screenshot-image{
    background:url("../images/bg2.jpg") no-repeat top center scroll #fff;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;      
}*/

#screenshots{background:url("../images/panchayat.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;}
.downloadNumber{
    background: #f44c67;
    color: #fff;
    display: inline-block;
    padding:10px 30px;
    font-size:24px;
}
.overlay {
    /*background: none repeat scroll 0 0 rgba(255,255,255,0.5);*/
    width: 100%;
    height: 100%;
    padding-top: 60px;
    padding-bottom:600px;
    position: relative;
}
.gradient{
    background: url("../images/gradient.png") repeat-x top center;
    position: absolute;
    width: 100%;
    bottom:0px;
    height: 200px;
}
.slider-3d{
      margin-top: -673px;
    padding-bottom: 0px;
}
.slider-3d > div{
    margin: 0 auto;
}
.allinone_carousel.sweet .elementTitle{
    color: #888;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

}
.allinone_carousel.sweet .contentHolderUnit{
   /* -moz-box-shadow:1px -2px 10px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow:1px -2px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow:1px -2px 10px 0px rgba(0, 0, 0, 0.5); */
}

/* overview ---------------------------------------------------------------- */
#overview{
    background: #f9f9f9;
    border-top: 1px solid #eee;
    text-align: center;
}
.bigIcon{
    color: #F44C67;
    font-size: 50px;
    margin-bottom: 20px;
}

/* features ---------------------------------------------------------------- */
#features{
    background:#f1f1f1;
    border-top: 1px solid #eee;
    text-align: center;
}
.leftFeatures,.rightFeatures{
    margin-top: 50px;
}

/* share ---------------------------------------------------------------- */
#share{
    background:url("../images/stars.png") no-repeat top left #F45368;
    text-align: center;
}
#share h2{
    font-size:50px;    
}
.shareIcons{
    font-size: 24px;
}
.jssocials-share-link{
    color: #fff;
    padding: 0.8em 1em;
    min-width: 110px;
}
.jssocials-share-link.jssocials-share-link-count{
    padding-top: 0.5em;
}

/* app-brief1 ---------------------------------------------------------------- */

.left-mob-front{
    position: absolute;
    left: 12%;
    margin: 0px auto;
    top:-40px;
    z-index: 2;
}
.left-mob-back {
    position: absolute;
    left:0px;
    top:-20px;
    z-index: 1;
}
.rightList li{
    padding-bottom: 10px;
    position: relative;
}
.rightList li i{
    position: absolute;
    top: 8px;
    left: 0px;
    font-size: 14px;
}
.rightList li span{
    padding-left: 30px;
}
#app-brief1{
}
.right-mob-front{
    position: absolute;
    right: 12%;
    margin: 0px auto;
    top:-40px;
    z-index: 2;
}
.right-mob-back {
    position: absolute;
    right:0px;
    top:-20px;
    z-index: 1;
}

/* subscription-form ---------------------------------------------------------------- */

#download {
    text-align: center;
    background:url("../images/pattern.png") repeat;
}
.downloadLogo{
    width: 100px;
    display: inline-block;
    position: relative;
    top: -5px;
}

#download hr{
    margin: 80px auto 70px;
}
.downloadtxt{
    margin-top: 70px;
    line-height: 60px;
}
.subscription-form .input-box {
    width: 320px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #FFF;
    border: 1px solid #FFF;
    margin: 0px;
}
.bigWord{
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
}

.subscription-form .subscription-success,
.subscription-form .subscription-error {
    display: none !important;
}
.subscription-form label{
    display: block;
}
/* contact ----------------------------------------------------------- */
#contact {
    background: #F4F4F4;
	    padding-top: 30px;
		    font-size: 15px;
}
.form-control{
    background: transparent;
    border: 1px solid #ddd;
    height: 50px;
    margin-bottom: 20px;
    padding:10px 20px;
    width: 100%;
    color:#161616;
    outline: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 12px;
    box-shadow: none;
}
textarea.form-control{
    height: 100px;
    max-height: 120px;
    resize: none;
    margin-bottom:40px;
    overflow: hidden;
}
.form-control:focus{
    color: #000;
    font-weight: 900;
    border-color: #161616;
    box-shadow: none;
    outline: none;
}
#contactForm .success,#contactForm .error {
    display: none;
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
}

/* Footer ---------------------------------------------------------- */
footer {
    background:#29282b;
    text-align: center;
    padding: 150px 0px;
}
footer hr{
    border-color: #181819;
}
footer p{
    font-size: 11px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #fff;
}
footer p a,footer p a:hover,footer p a:focus {
    color: #fff;
}
.socialList li{
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
}
.socialList li a{
    display: inline-block;
    color: #fff;
    margin: 0px 20px;
}
.socialList li a span{
    margin-left: 10px;
}
.socialList li a:hover{
    color: #F44C67;
}

/*------------------------------------------------------------- 
                           THEME SWITCHER
--------------------------------------------------------------- */
#customizer {
    position: fixed;
    top: 100px;
    z-index: 999999;
    height: 100%;
}

.corner {
    display: block;
    cursor: pointer;
    width: 40px;
    height: 40px;
    -webkit-border-radius:0px 6px 6px 0px;
    -moz-border-radius:0px 6px 6px 0px;
    border-radius:0px 6px 6px 0px;
    background: url(../images/switcher/corner-open.png);
    position: absolute;
    top: 50px;
    right: -40px;
}

.s-close {
    left: -205px !important;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.s-open {
    left: 0 !important;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.corner.expanded {
    background: url(../images/switcher/corner.png);
}

#options {
    width: 205px;
    height:180px;
    background: #fff;
    padding: 0;
    position: relative;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.heading {
    padding-bottom: 15px;
    margin-bottom: 20px;
}

#options h6 {
    color: #5c5c5c;
    margin-bottom: 10px;
    font-size: 13px;
}

.options-segment {
    margin-bottom: 20px;
}
.color-scheme {
    padding: 0;
}
.color-scheme li {
    float: left;
    list-style: none;
}
.color-scheme a {
    display: block;
    height: 30px;
    width: 30px;
    margin: 0 4.25px 10px;
}
.colors-sel {
    padding: 20px 25px 15px;
    margin-bottom: 0;
}
.gold a {
    background: url(../images/switcher/3.png);
}
.green a {
    background: url(../images/switcher/7.png);
}
.blue a {
    background: url(../images/switcher/1.png);
}
.red a {
    background: url(../images/switcher/8.png);
}
.pink a {
    background: url(../images/switcher/4.png);
}
.navy a {
    background: url(../images/switcher/6.png);
}
.yellow a {
    background: url(../images/switcher/5.png);
}
.violet a {
    background: url(../images/switcher/2.png);
}
.options-head {
    background: #000;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 900;
    line-height: 50px;
}

.version{
    position: fixed;
    left: 0px;
    top: 100px;
    font-size:30px;
    color: #A4C828;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    z-index: 9999;
}
.version:hover,.version:focus{
    color: #B6DD2A;
}
/* responsive style ----------------------------------------------------------------- */
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .downloadtxt{
        margin-top: 20px;
    }
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    #intro{
        text-align: center;
    }
    #intro,.section{
        padding: 100px 0px;
    }
    .overlay{
        padding-top: 100px;
        padding-bottom: 400px;
    }
    .slider-3d{
        margin-top: -380px;
        padding-bottom: 100px;
    }
    .intro-mobile {
        position: static;
        max-width: 300px;
    }
    .phones{
        position: relative;
        width: 100%;
        max-width: 600px;    
        height: 400px;
        overflow: hidden;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .left-mob-front{
        right: 0px;
        left: auto;
        max-width: 100%;
        top: 0px;
    }
    .left-mob-back{
        left: -30px;
        max-width: 100%;
        top: 0px;   
    }
    .right-mob-front{
        left: 0px;
        right: auto;
        max-width: 100%;
        top: 0px;
    }
    .right-mob-back {
        right: -30px;
        max-width: 100%;
        top: 0px;  
    }

    .leftFeatures{
        margin-top: 0px;
        margin-bottom: 50px;
    }
    #features .text-left,#features .text-right{
        text-align: center !important;
    }
    .mg-sm-100{
        margin-bottom: 100px;
    }

}
/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
    .navbar-collapse {
        max-height: 355px !important;
        padding-bottom: 15px;
        padding-right: 15px;
        padding-left: 15px;
        overflow-x: visible;
        border-top: 1px solid transparent;
		float:right;
    }

    .navbar-nav{
        width: 100%;
    }
    h1{
        font-size: 30px;
    }
    .subscription-form .input-box {
        margin: 0px auto 20px;
        width: 80%;
    }
.navbar{
    background: rgba(255,255,255,0.9);
}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .downloads a{
        margin: 5px;
    }

    .left-mob-front,.left-mob-back,.right-mob-front,.right-mob-back{
        max-width: 80%;
    }

}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

/****************sangam*************************/
/*gole*/
.service-content {
    text-align: center;
}
.service-content i {
     display: inline-block;
    overflow: hidden;
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 67px;
    margin: 30px 0 0;
    -webkit-box-shadow: 0 0 0 12px #f0f0f0;
    -moz-box-shadow: 0 0 0 12px #f0f0f0;
    box-shadow: 0 0 0 7px #ffffff;
}
.service-content:after {
    content: "";
    background: #496073;
    width: 3px;
    height: 3px;
    position: absolute;
    top: 107%;
    margin-top: -35px;
    left: 122px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, .09);
    -moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, .09);
    box-shadow: 0 0 0 2px rgb(73, 96, 115);
    z-index: 3;
}
 .service-content.last:before {
    content: '';
    position: relative;
    box-shadow: none;
    border: 0;
}
.service-content:before {
    content: '';
    background: #ffffff;
    position: absolute;
    top: 50%;
    margin-top: 15px;
    width: 2px;
    left: 63px;
    height: 100%;
    z-index: -1;
    box-shadow: 0px 5px 3px 2px #dadada;
}
blockquote{
    display: block;
    padding: 3px 18px 15px 45px;
    margin: 0 0 20px;
    position: relative;
    font-size: 16px;
    line-height: 1.8em;
    color: #666;
    text-align: justify;
    border-left: 5px solid rgba(255, 255, 255, 0);
    letter-spacing: 1px;
}

blockquote::before{
    content: "\201C";
    font-family: Georgia, serif;
    font-size: 49px;
    font-weight: bold;
    color: #f99c13;
    position: absolute;
    left: 10px;
    top: 5px;
}


blockquote::after {
 content: "\201C";
    font-family: Georgia, serif;
    font-size: 51px;
    font-weight: bold;
    color: #f99c13;
    position: absolute;
    right: 3%;
    bottom: 86px;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);}

blockquote a{
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

blockquote a:hover{
 color: #666;
}

blockquote em{
      font-family: 'ralewaylight';
    font-size: 14px;
    color: #2196F3;
	    font-style: normal;
}
.g1{background:#009ddc;}
.g2{background:#963d97;}
.g3{background:#e03a3e;}
.g4{background:#f5821f;}
.g5{background:#387131;}
.g6{background:#673AB7;}

.sp-top-25{margin-top:25%;}
.sp-top-20{margin-top:18%;}

.main-title {
     text-align: center;
    width: 100%;
    padding-bottom: 8px;
    margin-bottom: 7px;
    margin-top: 24px;
    float: left;
    clear: both;
    background: url(../images/title-border.png) center bottom no-repeat;
}
.main-title2 {
    text-align: center;
    width: 100%;
    padding-bottom: 8px;
    margin-bottom: 50px;
    margin-top: 24px;
    float: left;
    clear: both;
    background: url(../images/title-border-white.png) center bottom no-repeat;
}
/***counter***/
.statistics{/*padding: 20px 0*/; background: transparent; background: black; background: rgba(0,0,0,0.45);}
.statistics .stat{display: inline-block; margin: 35px 80px; line-height: 1.4;}
.statistics h2{text-align: center;}
.statistics .stat span{margin-bottom: 10px; margin-top: 10px;}
.stat .stat-icon, .stat .number, .stat .count-title{display: block; width: 100%; text-align: center;}
.stat .number, .stat .count-title{font-size: 1.4em}
.stat .number{ font-size: 41px;}
.statistics-inner{ text-align: center;}
.statistics .sec-title{margin-bottom: -20px;}
.stat .fa{font-size: 50px}
.stat .count-title {font-size: 16px}

.f1 {
    color: #ffffff;
    font-size: 35px;
    width: 100%;
    padding: 35px;
}

/**counter end***/
.testimonial-bg{
background: url(../images/testimonial-bg.png);
    background-size: contain}
	
	section.module.parallax {
    min-height: 491px;
    background-position: 50% 50%;
    background-repeat: repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
	color:#fff;
}
	section.module.parallax-2{
    background-position: 50% 50%;
    background-repeat: repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
	color:#fff;
}
section.module.parallax-1 {
  background-image: url("../images/testimonial-bg.png");
}
section.module.parallax-2 {
  background-image: url("../images/collage.jpg");
}
.black-overlay{    background: rgba(0, 0, 0, 0.85);}
.carousel-control.right {
    right: 0;
    left: auto;
    background-repeat: repeat-x;
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0, 0, 0, 0) 100%);
}
.carousel-control.left {
    background-repeat: repeat-x;
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0) 0,rgba(0,0,0,.0001) 100%);
}
blockquote .small:before, blockquote footer:before, blockquote small:before {
    content: none;
}
blockquote .small, blockquote footer, blockquote small {
    display: block;
    font-size: 80%;
    line-height: 1.42857143;
    color: #f88734;
    text-align: center;
    font-weight: 900;
}
#footer{
	background: rgb(4, 28, 51);
    color: #fff;
    font-size: 13px;
    padding-top: 13px;
}

.footer-menu-store li {
    margin-bottom: 10px;
}
.footer-menu-store li a img {
    background: #000000;
    border-radius: 4px;
}
.footer-menu-store li a img:hover {
    background: rgba(0, 0, 0, 0.62);
    border-radius: 4px;
}
.brand-logo {
    background: #fff;
    width: 26px;
    border-radius: 50%;
    padding: 3px;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.47);
    margin-bottom: 12px;
}
.vakya{    font-style: italic;
    font-weight: 500;
    text-shadow: 0px 0px #000;
    color: #000;}
	.e-title{font-weight: 100;
	 font-family: 'ralewaylight';
	letter-spacing: 1px;}
	
		@media only screen and (max-width: 992px) {
   .service-content:before {
 display:none;
}
   .service-content:after {
 display:none;
}
		}
/*scheme slider mobile and screen*/

@media only screen and (max-width: 768px){
	.slider-3d {
    margin-top: -380px;
    padding-bottom: 100px;
    display: none;
}
	.small-mob{
		display:block!important;
}
.overlay {
    padding-top: 100px;
    padding-bottom: 0px;
}
}
.habibi{    margin-top: 55px!important;
    font-weight: 500!important;
    font-size: 18px!important;
    color: #496072!important;}
/*
<div id="why">
<div class="zigzag"></div>
//content goes here
</div>
*/	
#why-us .zigzag:before {
    background: linear-gradient(45deg, rgba(0,0,0,0) 33.333%,#ffffff 33.333%,#f3f3f3 66.667%,rgba(0,0,0,0) 66.667%),linear-gradient(-45deg, rgba(0,0,0,0) 33.333%,#ffffff 33.333%,#ffffff 66.667%,rgba(0,0,0,0) 66.667%);
    background-size: 21px 40px;
    content: "";
    display: block;
    height: 10px;
    /* position: absolute; */
    top: -13px;
    width: 100%;
    margin-top: -9px;
}
.space60{margin-top:60px;}
.num{
    font-size: 20px;
    line-height: 0.2px;
    font-weight: 500;
    color: #1f1f1f;
}



